<div class="page">  
    <div class="content">
        <div class="logo-card">
            <img class="logo" src="../../assets/logo/Big-Logo.svg" alt="Anithy-logo" />
        </div>
        <div class="login-card">
            <form>
                <div class="input-form">
                    <label for="username">Username</label>
                    <input type="text" name="username" required>
                </div>
                <div class="input-form">
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="links">
                    <a href="#">Reset password</a>
                    | 
                    <a href="#">Sign up</a>
                </div>
                <div>
                    <input type="submit" value="Sign in">
                </div>
            </form>
        </div>
    </div>
</div>