@import "../../../ui/variables";

// Sign-in style
.page {
  background: url("../../../assets/wave.png") top -5vh left -5vw no-repeat, url("../../../assets/wave-down.png") bottom -5vw right -5vw no-repeat;
  background-size: 50vw;
  min-height: 100vh;
}

.logo {
  width: 100%;
  padding-bottom: 2rem;
}

.login-card {
  border-radius: 10px;
  border: 3px solid $tangerine;
  padding: 2vw;
  background-color: #2A2A34;

  & .login-lable {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    span {
      text-align: center;
      color: gray;
      margin: 0;

      &::before,
      &::after {
        content: ' ';
        position: absolute;
        width: 35%;
        height: 5px;
        background-color: gray;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 2px;
      }

      &::before {
        left: 30px;
      }

      &::after {
        right: 30px;
      }
    }
  }

  & .login-types {
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

    //display: flex;
    & brand-button {
      color: white;
      padding: 10px;
      font-size: 1.5rem;
      display: inline-block;
      cursor: pointer;
      margin: 0 5px;
      transition: all .4s;

      &:hover {
        color: gray;
      }
    }
  }

  & .input-form {
    position: relative;
    margin: 25px;
    margin-bottom: 30px;

    & label {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      color: #ffffff4f;
      padding: 3px;
      transition: all .4s;
      user-select: none;
      border-radius: 5px;
    }

    & input {
      background: transparent;
      color: #fff;
      padding: 10px;
      border: 3px solid $tangerine;
      border-color: transparent transparent $tangerine transparent;
      width: 100%;
      font-size: 1.5rem;
      transition: all .4s;
      border-radius: 5px;
      outline: none;
      text-align: center;

      &~.input-background {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        background-color: $tangerine;
        transform: translate(-50%, -50%);
        transition: all .3s;
        width: 0;
        opacity: 0;
        user-select: none;
        z-index: -1;
      }

      &:hover {
        border-color: $rblackl $rblackl $tangerine $rblackl;
      }

      &:focus,
      &:valid {
        border-color: $tangerine;

        &~.input-background {
          width: 100%;
          opacity: .5;
        }

        &~label {
          top: -10%;
          background: $tangerine;
          color: white;
          font-size: 1.1rem;
        }

      }

    }
  }

  & .loginBtnForm {
    margin-bottom: 15px;
  }

  & .form-footer {
    text-align: center;
    color: gray;
  }

  & .loginBtn {
    display: block;
    width: 100%;
    margin: auto;
    background: $tangerine;
    border-radius: 8px;
    color: white;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Century Gothic';
    font-weight: bold;
    border: none;
    outline: none;
    transition: all .4s;

    &:hover {
      background: $ochre;
    }
  }
}

.to-social-login {
  display: block;
  width: 100%;
  border: $tangerine 4px solid;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  padding: 5px;
  font-size: 1.3rem;
  font-family: 'Century Gothic';
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
  transition: all .4s;
}

.defaultLogin {
  transition: all .4s;
  height: auto;
}
.social-login {
  transition: all .4s;
  height: auto;
}
.hide {
  overflow: hidden;
  height: 0px;
  transition: all .4s;
}

.show {
  overflow: hidden;
  transition: all .4s;
  height: auto;
}
